.calculator-container {
  width: 85%;
  height: 50%;
  border: 1px solid black;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 85%;
}

.calculator-screen {
  height: 15%;
  background-color: #858694;
  border: 2px solid black;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.solution {
  padding-right: 20px;
}

.buttons {
  background-color: azure;
  font-size: 20px;
}

.cero {
  grid-area: 5/1/5/3;
}
.orange {
  background-color: #f5913e;
}

@media screen and (min-width: 768px){

  .calculator-container {
    width: 60%;
    height: 60%;
    border: 1px solid black;
  }

}

@media screen and (min-width: 1440px){

  .calculator-container {
    width: 40%;
    height: 60%;
    border: 1px solid black;
  }

}